%header
  %nav{:class => "navbar navbar-inverse", :role => "navigation"}
    .container-fluid
      //Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse"}, :data => {:target => "#bs-example-navbar-collapse-1"}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar/
          %span.icon-bar/
          %span.icon-bar/
        = link_to root_path do
          %a.navbar-brand
            Air Pollution
      //Collect the nav links, forms, and other content for toggling
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          = content_tag :li, :class => (current_page?(root_path) ? 'active' : '') do
            = link_to 'Home', root_path
          = content_tag :li, :class => (current_page?(graphs_path) ? 'active' : '') do
            = link_to 'Graphs', graphs_path
          = content_tag :li, :class => (current_page?(rawdata_path) ? 'active' : '') do
            = link_to 'Raw Data', rawdata_path